.country {
    background-color: $clr-elements;
    color: $clr-text;
    border-radius: $rounded;
    box-shadow: $box-shadow;
    cursor: pointer;
}

.country img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: $rounded;
    border-top-right-radius: $rounded;
}

.country .info {
    padding: 1.5rem;
}

.country h3 {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 600px) {
    .country img {
        height: 12rem;
    }
}

@media screen and (min-width: 900px) {
    .country img {
        height: 10rem;
    }
}
