
    $bottom-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.125);
    $box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.125);
  
    $rounded-sm: 0.3rem;
    $rounded: 0.5rem;
  
    $select-border: #777;
    $select-focus: white;
    $select-arrow: $select-border;
  
    $clr-elements: hsl(0, 0%, 100%);
    $clr-background: hsl(0, 0%, 98%);
    $clr-input: hsl(0, 0%, 52%);
    $clr-text: hsl(200, 15%, 8%);
    $clr-hover: hsl(0, 0%, 90%);
    $clr-focus: 2px solid blue;
  
  [data-theme='dark'] {
    $clr-elements: hsl(209, 23%, 22%);
    $clr-background: hsl(207, 26%, 17%);
    $clr-text: hsl(0, 0%, 100%);
    $clr-input: var(--clr-text);
    $clr-hover: hsl(209, 23%, 33%);
    $clr-focus: 2px solid purple;
  }

